node_modules/
dist/
.vercel/
.astro/
.env
.env.*
!.env.example
innhold-gammel/
lighthouse/tmp/
bilder-inn/
lighthouse/*.json
lighthouse/*.html
!lighthouse/mobil_.report.html
!lighthouse/mobil_betongarbeid_.report.html
!lighthouse/mobil_prosjekt_saedalen-kirke_.report.html
dist.lh/
forhandsvisning/
